body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#filterButton {
  /*float: right;*/
}

#filterOptions {
  margin-left: 10px;
}

#filterOptions form {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.item {
  flex-basis: 40%;
  margin: 10px;

}


.itemDiscount {
  font-weight: bold;
}

.itemImg {
  float: left;
  min-height: 150px;
  max-height: 150px;
}

.itemInfo {
  float:left;
  margin-left: 15px;
}

.timeRemaining {
  color: red;
}

.itemName {
  font-size: 2em;
}

.itemPrice {
  font-size: 1.3em;
}

#searchForm {
  display: inline-block;
  margin-left: 10px;
}

#searchResults {
  display: flex;
  flex-wrap: wrap;
}
